/*Globals*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/*Variables*/
:root{
    --purple: #4831d4;
    --green: #ccf381;
    --white: #f9dcc4;
}   
/*End Variables*/

/*Scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--purple);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--green);
}

::-webkit-scrollbar-track{
    background: var(--white);
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/*End Scroll bar*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
/*End globals*/

/*Body and dropdown*/
body{
    background-color: var(--white);
    font-family: 'Concert One', sans-serif;

    .dropbtn {
        background: none;
        color: black;
        margin-right: 1rem;
        padding: 1rem;
        border: none;
        cursor: pointer;
      }
    
      .dropdown {
        position: fixed;
        right: 25px;
        display: inline-block;
      }
    
      .dropdown-content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    
      }
    
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    
      .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
      .dropdown:hover .dropbtn {
        background: none;
      }
}

/*Section1*/
/*Navegation bar*/
#about_me{
    background: linear-gradient(90deg, var(--purple) 67%, var(--green) 33%);
    height: 30rem;
    width: 100%;
    height: 735px;
    margin: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;  

    h1{
        color: var(--green);
        font-size: 75px;
        font-weight: 500;
        font-weight: bolder;
        text-align: center;
        width: 65%;
        margin-left: 5rem;
    }

    #both{
        font-size: 35px;
        font-weight: 800;
        color: var(--white);
    }

    #comment{
        color: var(--white);
        width: 55%;
        margin-left: 9rem;
        padding-top: 3.5rem;
        font-size: 30px;
        text-align: justify;
    }

    #profilepic{
        width: 350px;
        height: 350px;  
        margin-right: 25rem;
        border-radius: 10px;
    }

}
/*End navegation bar*/
/*End Section1*/

/*Section2*/
.h2{
    margin-top: 20.5rem;
    margin-bottom: 20.5rem;

    h2{
        color: var(--purple);
        padding-left: 8rem;
        font-size: 5rem;
    }
    
    #h2p{
        color: var(--purple);
        padding-left: 12rem;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        width: 750px;
        text-align: justify;
    }
    
    h3{
        color: var(--purple);
        font-size: 5rem;
        padding-left: 63rem;
    }
    
    #h3p{
        color: var(--purple);
        font-size: 1.5rem;
        width: 90%;
        letter-spacing: 1.5px;
        padding-left: 69rem;
        text-align: justify;
    }
}
/*End section2*/

/*Section3*/
#certifications{
    background-color: var(--purple);
    padding-top: 2rem;

    h4{
        color: var(--green);
        font-size: 5rem;
        margin-top: 5rem;
        margin-left: 5rem;
    }
    a{
        color: var(--green);
        text-decoration: none; 
    }

    li:not(#redirect){
        color: var(--green);
        margin-left: 10rem;
        font-size: 1.5rem;
        padding: 8rem;
    }
    
}
/*End Section3*/

/*Section4*/
#projects{
    .projectsimg{
        padding-left: 17rem;
        padding-top: 17rem;
        margin-bottom: 5px;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: repeat(3, 250px);
        row-gap: 10rem;
    }
    
     img{
        width: 250px;
        height: 250px;
    }

    img:hover{
        width: 300px;
        height: 300px;
        transition: 1s;
    }
}
/*End section4*/

/*Section5*/
#contact_me{
    height: 750px;
    width: 100%;
    background-color: var(--purple);
    color: var(--green);
    position: relative;

    h5{
        padding-top: 8rem;
        padding-left: 5rem;
        padding-bottom: 3rem;
        font-size: 65px;
    }
    
    form{
        padding-left: 8rem;
        width: 350px;
        font-size: 26px;
    }
    
    input, #Message{
        background-color: #DBD7D2;
        border-radius: 10px;
        height: 50px;
        width: 350px;
        margin: 1rem 0px 5px 0px;
        padding-left: 15px;
        font-size: 20px;
        font-family: 'Concert One', sans-serif;
        border: none;
    }
    
    #Message{
        padding-top: 5px;
        margin-bottom: 3rem;
        height: 150px;
        width: 350px;
    }
    
    input::placeholder{
        padding-left: 10px;
    }
    
    #fsend{
        background-color: var(--green);
        color: var(--purple);
        height: 35px;
        width: 350px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        font-size: x-large;
        font-weight: bold;
        opacity: 0.6;
        transition: 1s;
    }

    #fsend:hover{
        opacity: 1;

    }
    
    .social{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        top: 15rem;
        right: 50rem;
     }
    
      img{
        width: 70px;
        height: 70px;
        position: relative;
        margin-left: 1rem;
        border-radius: 50%;
     }
    
    .redirect{
        position: absolute;
        top: 15rem;
        right: 25rem;
    }
    
    a{
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;
        color: var(--green); 
        list-style: none;
        font-size: 22px;
        text-decoration: none;
    }
}
/*End section5*/